
:root {
  --text-color: #eee;
  --text-color-2: #f0f0f0;
  --bg-color: #454545;
  --bg-color-lighter: #666;
  --bg-color-2: #292929;

  --link-color-darker: #e67300;
  --link-color: #ffd11a;
  --link-color-2: #e67300;
}


body {
  color: var(--text-color);
  background: var(--bg-color);
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: var(--bg-color);
}

.tabs ul.primary li a.is-active {
  background-color: var(--bg-color);
}

.tabs ul.primary li.is-active a {
  background-color: var(--bg-color);
  border-bottom-color: var(--bg-color);
}

a,
.link {
  color: var(--link-color);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--link-color-2);
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  // color: #23aeff;
  color: var(--link-color-2);
}

.page-item.active .page-link {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

.page-link,
.page-link:hover {
  // color: #0071b3;
  color: var(--link-color);
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--link-color);
}

.site-footer {
  background: #292929;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}

.tns-controls {
  > button {
    border: 1px solid var(--link-color-2);
    color: var(--link-color-2);
  }
}
.views-field-field-image-thumb {
  display: flex;
  justify-content: center;
}



.node--view-mode-teaser {
  h2 a {
    color: var(--link-color);
  }
}

.tns-slider {
  article.node--type-slide,
  .node--view-mode-teaser {
    border: 2px solid var(--link-color-darker);

    background-color: var(--bg-color-lighter);
  }
}

article.node--view-mode-card {
  text-align: center;
}

