
:root {
  --maxwidth: 1100px;

  --header-height: 92px;
  --header-expanded-height: 180px;

}

#navbar-top {
  background: #3f3f3f;
  padding: 0;

  .region-top-header {
    max-width: var(--maxwidth);
    margin: auto;

    .content {
      padding: 1em 0;
    }
  }
}

.main-menu-left {
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  margin: 0 1rem;
}
.region-header {
  width: 100%;
  display: flex;
}

.navbar-toggler {
  display: none;
  // background: #999;
  // margin-right: 1em;
}

@media (min-width: 767px) {
  #CollapsingNavbar .block-menu {
    display: none;
  }
  .block-superfishmain-menu-combined {
    display: none;
  }
}

@media (max-width: 767px) {

  .block-superfishmain,
  .block-superfishmain-menu-right {
    display: none;
  }

  .navbar-brand {
    img {
      max-height: var(--header-height);
    }
  }
}

.site-footer {
  .nav {
    flex-direction: column;
  }
}

.tns-slider {
  article.node--type-slide,
  .node--view-mode-teaser {

    max-width: 400px;
    text-align: center;
  }
}
