




:root {
  --maxwidth: 1100px;
}

#page-wrapper {
  #page {
    display: flex;
    flex-direction: column;
  }
  .highlighted {}
  #main-wrapper {
    #main {
      width: 100%;
      max-width: 100%;
    }
  }
}


.region-top-header {
  max-width: var(--maxwidth);
  margin: auto;
}

#navbar-top {
  background-color: var(--bg-color-2);
}

#navbar-main {
  max-width: var(--maxwidth);
  margin: auto;

  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  #navbar-main {
    display: none;
  }
}
@media (min-width: 767px) {
  #navbar-main {
    // width: var(--maxwidth);
  }
  .region-top-header {
    // width: var(--maxwidth);
  }
}


a.navbar-brand {
  color: var(--text-color);
  margin: 1em;

  display: flex;
  flex-direction: column;
}
.block-superfishmain { /* main menu left */
  display: flex;
  justify-content: flex-end;
}
